<div class="about-page-container">
    <h1>About Me</h1>
    <mat-card *ngIf="aboutMeData" appearance="outlined" class="about-card">
        <mat-card-header>
            <mat-card-title>Hello There!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{ aboutMeData.message }}</p>
        </mat-card-content>
        <mat-card-actions *ngIf="aboutMeData.link">
            <a
                mat-button
                aria-label="more about me"
                [href]="aboutMeData.link"
                target="_blank"
                matTooltip="Click to Learn More"
                rel="noopener noreferrer"
            >Learn More</a>
        </mat-card-actions>
    </mat-card>
</div>
