<ng-container *ngIf="cardsData.length > 0">
    <mat-card appearance="outlined"  *ngFor="let card of cardsData">
        <mat-card-header>
            <mat-card-title>{{card.productName}}</mat-card-title>
            <mat-card-subtitle>{{card.productCategory}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Submitted By: {{card.name}}</p>
            <p>Contact Number: {{card.telephone | telephoneFormatter}}</p>
            <p>Purchased on: {{card.productPurchaseDate | dateFormatter}}</p>
            <p>Price: {{card.productPrice}}</p>
            <p>Model: {{card.productModel}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button 
                mat-icon-button 
                aria-label="edit button" 
                color="primary" 
                matTooltip="Edit Entry"
                (click)="onCardEdit(card)"
            >
                <mat-icon>edit</mat-icon>
            </button>
            <button 
                mat-icon-button 
                aria-label="delete button" 
                color="warn" 
                matTooltip="Delete Entry"
                (click)="onCardDelete(card)"
            >
                <mat-icon>delete_outline</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-paginator 
        [length]="totalDocuments"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        aria-label="Select page"
        (page)="handlePageEvent($event)">
    </mat-paginator>
</ng-container>

<ng-container *ngIf="cardsData.length === 0">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>No Data Found</mat-card-title>
        </mat-card-header>
    </mat-card>
</ng-container>
