<ng-container *ngFor="let card of cardsData">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{card.productName}}</mat-card-title>
            <mat-card-subtitle>{{card.productCategory}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Sunmitted By: {{card.name}}</p>
            <p>Purchased on: {{card.productPurchaseDate}}</p>
            <p>Price: {{card.productPrice}}</p>
            <p>Model: {{card.productModel}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button aria-label="edit button" color="primary" (click)="onCardEdit(card)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="delete button" color="warn" (click)="onCardDelete(card)">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</ng-container>
