<header>
    <mat-toolbar>
        <button 
            mat-icon-button 
            class="example-icon" 
            aria-label="Icon-button with menu icon"
            (click)="sideNavToggle.emit()"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <span>Data Entry App</span>
        <span class="header-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button 
            mat-icon-button 
            class="example-icon" 
            aria-label="Icon-button with share icon"
            [matMenuTriggerFor]="shareMenu"
        >
            <mat-icon>share</mat-icon>
        </button>
        <mat-menu #shareMenu="matMenu" xPosition="before" yPosition="below">
            <button mat-menu-item (click)="share('facebook')">
                <mat-icon>facebook</mat-icon>
                <span>Facebook</span>
            </button>
            <button mat-menu-item (click)="share('twitter')">
                <mat-icon>x</mat-icon>
                <span>Twitter</span>
            </button>
            <button mat-menu-item (click)="share('linkedin')">
                <mat-icon>linkedin</mat-icon>
                <span>LinkedIn</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</header>
