<header>
    <mat-toolbar>
        <button 
            mat-icon-button 
            class="example-icon" 
            aria-label="Icon-button with menu icon"
            [matMenuTriggerFor]="navMenu"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #navMenu="matMenu">
            <button mat-menu-item (click)="navigateToHome()">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-menu-item (click)="navigateToBarChart()">
                <mat-icon>bar_chart</mat-icon>
                <span>Bar Chart</span>
            </button>
            <button mat-menu-item (click)="navigateToLineChart()">
                <mat-icon>show_chart</mat-icon>
                <span>Line Chart</span>
            </button>
            <button mat-menu-item (click)="navigateToPieChart()">
                <mat-icon>pie_chart</mat-icon>
                <span>Pie Chart</span>
            </button>
        </mat-menu>
        <span>Data Entry App</span>
        <span class="header-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</header>
